{% extends 'templates/template.php.twig' %}
{% block title %}
    Trouver un bateau
{% endblock %}

{% block content %}
    {% include 'navigations/adminNav.php.twig' %}
    <p style="font-size: 35px; text-align: center; margin-top: 50px">Bateaux trouvés pour <span style="color: coral">ce voyage</span>
    </p> <br/>
    <div id="ligne_point">
        <div class="ligne_1">
            <hr>
        </div>
        <div class="cercle">
            <div class="point"></div>
        </div>
        <div class="ligne_2">
            <hr>
        </div>
    </div>
    <p>
        <a class="return" href="index.php?action=searchBoat">Retour</a>
    </p>
    <div id="ContentMapAndTrip">
        {% if trip is defined %}
            <div id="infoTrip">
                <p style="font-size: 30px"> {{ trip.departure_city }} <i id="displayTrip"
                                                                         class="far fa-arrow-alt-circle-right fa-1x"></i> {{ trip.finishing_city }}
                </p>
                <br/>
                <p>Prévu le : <span style="color: coral">{{ trip.date_transport }}</span></p>
                <p>Charge à transporter : <span style="color: coral;">{{ trip.weight }} </span>Tonnes</p>
                <p>Prix de la tonne : <span style="color: coral;">{{ trip.price_ton }} </span>€/T HT</p>
                <p>Capacité minimum requise : <span style="color: coral;">{{ trip.weight }} </span>Tonnes
                </p>
                <p>Voyage payé : <span
                            style="color: coral;">{{ trip.weight * trip.price_ton }} </span>€
                </p>
                <br/><br/>
            </div>
        {% endif %}
        <div id="userBoat">
            {% for boat in boats %}
                <div class="boat">
                    <p>Propriétaire : <span>{{ boat.user.name }} {{ boat.user.firstname }}</span></p>
                    <p>Nom du Bateau : <span>{{ boat.name }}</span></p>
                    <p>Capacité du bateau : <span>{{ boat.capacity }}</span> Tonnes</p>
                    <p>Numéro de téléphone : <span>{{ boat.user.phone }}</span></p>
                </div> <br/>
            {% endfor %}
        </div>
    </div>
{% endblock %}
